.bg-blue-1 { background-color: #409eff; }

.bg-blue-2 { background-color: #53a8ff; }

.bg-blue-3 { background-color: #66b1ff; }

.bg-blue-4 { background-color: #79bbff; }

.bg-blue-5 { background-color: #8cc5ff; }

.bg-blue-6 { background-color: #a0cfff; }

.bg-blue-7 { background-color: #b3d8ff; }

.bg-blue-8 { background-color: #c6e2ff; }

.bg-blue-9 { background-color: #d9ecff; }

.bg-blue-10 { background-color: #ecf5ff; }

.bg-green-1 { background-color: #67c23a; }

.bg-green-2 { background-color: #e1f3d8; }

.bg-green-3 { background-color: #f0f9eb; }

.bg-yellow-1 { background-color: #e6a23c; }

.bg-yellow-2 { background-color: #faecd8; }

.bg-yellow-3 { background-color: #fdf6ec; }

.bg-red-1 { background-color: #f56c6c; }

.bg-red-2 { background-color: #fde2e2; }

.bg-red-3 { background-color: #fef0f0; }

.bg-grey-1 { background-color: #303133; }

.bg-grey-2 { background-color: #606266; }

.bg-grey-3 { background-color: #909399; }

.bg-grey-4 { background-color: #c0c4cc; }

.bg-grey-5 { background-color: #dcdfe6; }

.bg-grey-6 { background-color: #e4e7ed; }

.bg-grey-7 { background-color: #ebeef5; }

.bg-grey-8 { background-color: #f2f6fc; }

.text-blue-1 { color: #409eff; }

.text-blue-2 { color: #53a8ff; }

.text-blue-3 { color: #66b1ff; }

.text-blue-4 { color: #79bbff; }

.text-blue-5 { color: #8cc5ff; }

.text-blue-6 { color: #a0cfff; }

.text-blue-7 { color: #b3d8ff; }

.text-blue-8 { color: #c6e2ff; }

.text-blue-9 { color: #d9ecff; }

.text-blue-10 { color: #ecf5ff; }

.text-green-1 { color: #67c23a; }

.text-green-2 { color: #e1f3d8; }

.text-green-3 { color: #f0f9eb; }

.text-yellow-1 { color: #e6a23c; }

.text-yellow-2 { color: #faecd8; }

.text-yellow-3 { color: #fdf6ec; }

.text-red-1 { color: #f56c6c; }

.text-red-2 { color: #fde2e2; }

.text-red-3 { color: #fef0f0; }

.text-grey-1 { color: #303133; }

.text-grey-2 { color: #606266; }

.text-grey-3 { color: #909399; }

.text-grey-4 { color: #c0c4cc; }

.text-grey-5 { color: #dcdfe6; }

.text-grey-6 { color: #e4e7ed; }

.text-grey-7 { color: #ebeef5; }

.text-grey-8 { color: #f2f6fc; }
