$blue : #409eff,
#53a8ff,
#66b1ff,
#79bbff,
#8cc5ff,
#a0cfff,
#b3d8ff,
#c6e2ff,
#d9ecff,
#ecf5ff;

$green: #67c23a,
#e1f3d8,
#f0f9eb;

$yellow:#e6a23c,
#faecd8,
#fdf6ec;

$red:#f56c6c,
#fde2e2,
#fef0f0;

$grey:#303133,
#606266,
#909399,
#c0c4cc,
#dcdfe6,
#e4e7ed,
#ebeef5,
#f2f6fc;




@mixin colorfunc($attrname, $attr, $arry, $name) {
    @each $color in $arry {
        $i: index($arry, $color);

        .#{$attrname}-#{$name}-#{$i} {
            #{$attr}: $color;
        }
    }
}

@include colorfunc("bg", "background-color", $blue, "blue");
@include colorfunc("bg", "background-color", $green, "green");
@include colorfunc("bg", "background-color", $yellow, "yellow");
@include colorfunc("bg", "background-color", $red, "red");
@include colorfunc("bg", "background-color", $grey, "grey");

@include colorfunc("text", "color", $blue, "blue");
@include colorfunc("text", "color", $green, "green");
@include colorfunc("text", "color", $yellow, "yellow");
@include colorfunc("text", "color", $red, "red");
@include colorfunc("text", "color", $grey, "grey");
