*{
    margin: 0;
    padding: 0;
}

.ftab{
    height: calc(100vh - 40px);
}

#pills-tab{
    background-color: #1d1d1d;
}

.bg-d1{
    background: #121212;
}
.bg-d2{
    background: #1d1d1d;
}

.rounded{
    border-radius: 1rem !important;
}

.nav-link{
    color: #fff !important;
}

.nav-link.active{
    border-radius: 2rem;
}