* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f;
    font-size: 16px;

    &:after{
        content: "滑动按钮组";
        font-size: 3em;
        position: absolute;
        top: 20%;
        color: #fff;
    }
}

.slide {
    width: 600px;
    height: 2em;
    position: relative;
    display: flex;
    border-radius: 2em;
    background-color: #fff;
    box-shadow: 0 0 2em rgba(#000, .5);
    display: flex;
    align-items: center;
    box-sizing: content-box;
    padding: .6em;

    div {
        width: 100px;
        height: 100%;
        font-size: 1em;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2;
        color: #000;
        transition: all .5s;
        box-sizing: content-box;

        &:nth-child(0){
            color: #fff;
        }
    }



    i {
        display: inline-block;
        width: 100px;
        height: 2.5em;
        position: absolute;
        left: 10px;
        background-color: orange;
        z-index: 1;
        border-radius: 50px;
        box-shadow: 0 0 10px orange;
        transition: all .5s;
        box-sizing: content-box;
    }
}